// TYPO
// --------------------------------------------------
// Font Family


$openSans :'Open Sans', sans-serif;
// Font Weight
$light:300;
$regular:400;
$medium:500;
$semi-bold:600;
$bold:700;

//Font Size

$font-size-base: 16px;


// THEME COLORS
// --------------------------------------------------
/*Couleurs principales*/
$rouge:#F30000;
$orange:#FF7600;
$bleu:#00B2F6;
$vert:#00B441;
$black:#000000;
$jaune:#f89e01;
$gris:#20232a;
$white:#ffffff;
/*Couleurs secondaires*/



 
